@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 12px;
}

html, body {
  height: 100%;
}

* {
  outline-offset: 2px;
}

.container-max {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.headline {
  font-family: var(--font-montserrat);
}

.shimmer {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 20%, rgba(255,255,255,0) 40%);
  background-size: 200% 100%;
}