/* Center the div on the page */
.data {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack the text vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 90vh; /* Full viewport height */
  text-align: center; /* Center the text */
  font-family: Arial, sans-serif; /* Change the font */
  font-size: 3rem; /* Adjgfcust text size hhsihhe */

  user-select: none;
}

.data span {
  display: flex; /* Ensure the contents of span are inline */
  align-items: center; /* Vertically align & and ButtonCool */
}
/* Style for different parts of the text */
.web {
  color: #33ffdd; /* Orange */
  margin-right: 50px;
}

.designer {
  color: #ffeb33; /* Light blue */
}

.developer {
  color: #9233ff; /* Light green */
}
.and {
  color: #ff8989;
  margin-left: 150px;
}
